<mat-grid-list class="verification-form" cols="1" rowHeight="400">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>تایید حساب کاربری</mat-card-title>
        <mat-card-subtitle>لطفا کد تایید ارسال شده به پست الکترونیکی خود را وارد نمایید</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="verification-container">
          <form [formGroup]="verificationForm" (ngSubmit)="verify(submitBtn)">
            <mat-form-field>
              <input class="ltr" matInput placeholder="کد تایید" formControlName="verifyCode" autocomplete="off">
              <mat-error *ngIf="verificationForm.get('verifyCode')?.errors?.required">کد تایید اجباری است</mat-error>
            </mat-form-field>
            <div>
              <button color="primary" type="submit" mat-raised-button #submitBtn>تایید</button>
            </div>
          </form>
        </div>
      </mat-card-content>


    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


