@import 'variables';

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.ltr-input input {
  text-align: left;
  direction: ltr;
}

.text-center {
  text-align: center !important;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.scrollable-list {
  overflow-y: auto;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  direction: ltr;
  text-align: right;
}

.header-background {
  background: url('/assets/images/header-top-updates.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.header-tabs {
  .mat-tab-links {
    align-items: center;
    justify-content: center;
  }

  .mat-tab-link {
    min-width: 100px;
    opacity: 1;
    color: #94a3f3;

    &:hover {
      color: white;
    }
  }

  .mat-ink-bar {
    height: 3px;
    background-color: #2685C9;
  }

  .mat-tab-label-active {
    color: white;
  }
}

.card-center-header .mat-card-header-text {
  margin: 0 auto;
  text-align: center;
}

// MARGIN and PADDING

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}
