@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  // border-bottom: 1px dotted $accent-color !important;

  &:hover {
    cursor: pointer;
    color: $accent-color;
  }
}

input[type=number] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.mat-icon {
  vertical-align: middle;
}

.mat-dialog-actions .mat-button+.mat-button,
.mat-dialog-actions .mat-button+.mat-raised-button,
.mat-dialog-actions .mat-raised-button+.mat-button,
.mat-dialog-actions .mat-raised-button+.mat-raised-button {
  margin-right: 8px !important;
  margin-left: 0 !important;
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
  color: #B3B3B3;
}
