<mat-toolbar color="primary" class="fx-row fx-start-center fx-gap-10 mat-elevation-z5">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>{{pageTitle}}</h1>

  <div class="fx-auto"></div>

  <button mat-button type="button" (click)="logout()">
    <div class="horizontal-gap-5">
      <mat-icon>logout</mat-icon>
      <span>خروج</span>
    </div>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
    <mat-nav-list class="vertical-gap-20">
      <a mat-list-item matTooltip="تازه‌ها" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon matBadge="{{countUnread | persianNumber}}" matBadgeColor="warn">inbox</mat-icon>
      </a>

      <a mat-list-item matTooltip="کارجویان" routerLink="/candidates" routerLinkActive="active">
        <mat-icon>group</mat-icon>
      </a>

      <a mat-list-item matTooltip="شغل‌" routerLink="/job" routerLinkActive="active">
        <mat-icon>work</mat-icon>
      </a>

      <a mat-list-item matTooltip="تقویم" routerLink="/calendar" routerLinkActive="active">
        <mat-icon>calendar_today</mat-icon>
      </a>

      <a mat-list-item matTooltip="تنظیمات" routerLink="/configs" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
