<div *appLoading="isLoading" class="padding-20">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <table mat-table [dataSource]="events" class="full-width mat-elevation-z5">
      <ng-container matColumnDef="action">
        <td mat-cell *matCellDef="let element">
          <button mat-button mat-icon-button>
            <mat-icon>flag</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <td mat-cell *matCellDef="let element">
          <div class="mat-body-2">{{element.data.title}}</div>
          <div class="mat-small">{{element.data.createdDate | jalali}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <td mat-cell *matCellDef="let element">
          <div class="horizontal-gap-5 mat-body-2">
            <mat-icon [inline]="true">{{element.data.type | lowercase}}</mat-icon>
            <span class="text-truncate">{{element.data.description}}</span>
          </div>
          <div class="mat-small">{{element.include.user.firstName}} {{element.include.user.lastName}}</div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>
