<h2 mat-dialog-title>ثبت بازخورد</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content class="vertical-gap-5">
    <div>امتیاز کلی</div>
    <mat-button-toggle-group formControlName="rating">
      <mat-button-toggle value="STRONG_NEGATIVE">بد</mat-button-toggle>
      <mat-button-toggle value="NEGATIVE">متوسط</mat-button-toggle>
      <mat-button-toggle value="POSITIVE">خوب</mat-button-toggle>
      <mat-button-toggle value="STRONG_POSITIVE">عالی</mat-button-toggle>
    </mat-button-toggle-group>

    <div>در مورد امتیازدهی خود توضیح دهید</div>
    <textarea formControlName="feedbackText" rows="5" class="full-width"></textarea>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" mat-dialog-close>بازگشت</button>
    <button mat-button type="submit" color="primary">ثبت</button>
  </mat-dialog-actions>
</form>
