<div *appLoading="isLoading" class="full-height padding-20">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <div *ngIf="rawData?.totalElements === 0" class="vertical-center vertical-gap-10">
      <img src="/assets/images/no_results.png" class="no-results-image" />
      <p>کاندیدایی با این مشخصات وجود ندارد</p>
    </div>

    <div *ngIf="rawData?.totalElements > 0">
      <!-- <div class="table-filter">
        <span class="label">
          <mat-icon>filter_list</mat-icon>‌
        </span>
        <span *ngIf="selection.selected.length > 0" class="selection-count">
          {{selection.selected.length | persianNumber}} کارجو
        </span>

        <mat-form-field>
          <input matInput [(ngModel)]="searchKeyword" (keyup)="applyFilterBySearch($event.target.value)"
            placeholder="کلمات کلیدی">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="موقعیت شغلی" [(ngModel)]="searchJobPosition"
            (selectionChange)="applyFilterByJobPosition($event.value)">
            <mat-option value="ALL">انتخاب کنید</mat-option>
            <mat-option *ngFor="let items of jobList?.content" value="{{items.data.id}}">{{items.data.nameFa}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="مرحله" [(ngModel)]="searchPipeline"
            (selectionChange)="applyFilterByPipeline($event.value)">
            <mat-option value="ALL">انتخاب کنید</mat-option>
            <mat-option *ngFor="let pipeline of companyPipeline" value="{{pipeline.data.id}}">{{pipeline.data.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngIf="showClearFilter" (click)="clearFilter()" mat-raised-button>حذف فیلتر</button>
      </div> -->

      <table mat-table [dataSource]="dataSource" class="full-width">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="candidate">
          <th mat-header-cell *matHeaderCellDef> کارجو </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/candidates/{{element.data.id}}">{{element.data | fullName}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef> کارفرما </th>
          <td mat-cell *matCellDef="let element"> {{element.data.employer}} </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef> تاریخ ایجاد </th>
          <td mat-cell *matCellDef="let element"> {{element.data.createdDate | jalali}} </td>
        </ng-container>

        <ng-container matColumnDef="jobPosition">
          <th mat-header-cell *matHeaderCellDef> موقعیت شغلی </th>
          <td mat-cell *matCellDef="let element"> {{element.include.job.nameFa}} </td>
        </ng-container>

        <ng-container matColumnDef="companyPipeline">
          <th mat-header-cell *matHeaderCellDef> مرحله </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <mat-select (selectionChange)="onChangePipeline(element, $event)" [(value)]="element.include.pipeline.id">
                <mat-option *ngFor="let pipeline of pipelines" [value]="pipeline.data.id">{{pipeline.data.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [length]="rawData?.totalElements" [pageSize]="rawData?.size" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
  </ng-container>
</div>
