.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.login-form button{
  width: 100%;
}

.login-container form {
  margin-bottom: 20px;
}

.login-container form > * {
  margin: 10px 0;
}

.login-container .mat-radio-button {
  margin: 0 5px;
}

mat-card-header{
  display:flex;
  justify-content:center;
}


mat-card-header{

  mat-card-title{
    font-size: 18px;
    text-align: center;
  }

}

.login-form {
  mat-card-actions{
    text-align: center;
    font-size: 13px;
    div{
      margin: 10px 0;
    }
  }
}
.forgot-password{
  text-align: center;
}
