<mat-grid-list class="login-form" cols="1" rowHeight="500">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ورود</mat-card-title>
        <mat-card-subtitle>لطفا نام کاربری یا پست الکترونیک خود را وارد نمایید.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="login-container">
          <form [formGroup]="userLoginForm">
            <mat-form-field>
              <input class="ltr" matInput type="text" placeholder="نام کاربری" formControlName="username" autocomplete="off">
              <mat-error *ngIf="userLoginForm.get('username')?.errors?.required">نام کاربری اجباری است</mat-error>
              <mat-error *ngIf="userLoginForm.get('username')?.errors?.email">نام کاربری صحیح نیست</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input class="ltr" matInput type="password" placeholder="کلمه عبور" formControlName="password">
              <mat-error *ngIf="userLoginForm.get('password')?.invalid">کلمه عبور اجباری است</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="rememberMe">مرا به خاطر بسپار</mat-checkbox>
            <mat-spinner-button
              [options]="loginButton"
              (click)="login()"></mat-spinner-button>
          </form>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div class="forgot-password">
          <a href="#">رمز عبورم را فراموش کرده‌ام</a>
        </div>
        <div class="register-link">
          <a [routerLink]="['/register']">ثبت نام</a>
        </div>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


