.fields {
  .mat-form-field {
    width: calc(33% - 16px);
    margin: 8px;
  }
}

.mat-dialog-title .mat-icon {
  vertical-align: middle;
}

.candidate-form-container {

  display: flex;
  flex-direction: column;

  .create-candidate-form form .row [class*="col-"]>* {
    width: 100%;
  }
}

.upload-successful {
  font-size: 14px;

  .mat-icon {
    vertical-align: middle;
    color: #283593;
  }
}
