<div *ngIf="model" class="header vertical-gap-5">
  <div class="info">
    <div>
      <button mat-icon-button routerLink="/job" matTooltip="بازگشت" matTooltipPosition="left">
        <mat-icon aria-label="بازگشت">arrow_forward</mat-icon>
      </button>
    </div>
    <h2 *ngIf="model.data.nameFa">
      {{model.data.nameFa}}
    </h2>
    <div *ngIf="model.data.location">
      {{model.data.location}}
    </div>
    <div *ngIf="model.data.status">
      {{model.data.status}}
    </div>
  </div>

  <nav mat-tab-nav-bar class="fx-center-center" color="accent">
    <a mat-tab-link routerLink="./info" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
      اطلاعات
    </a>
    <a mat-tab-link routerLink="./candidates" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
      کارجویان
    </a>
    <a mat-tab-link routerLink="./hiring-team" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
      تیم استخدام
    </a>
  </nav>
</div>

<router-outlet></router-outlet>



<div *ngIf="false" class="candidate-page">

  <div class="container-fluid header-container no-gutter">
    <div class="row no-gutter">
      <div class="col-sm-12">
        <div class="candidate-header">
          <div class="row no-gutter">

            <div class="col-sm-3">
              <div class="candidate-info">
                <button mat-icon-button routerLink="/job" matTooltip="بازگشت" matTooltipPosition="left">
                  <mat-icon aria-label="بازگشت">arrow_forward</mat-icon>
                </button>
                <!--<div class="candidate-text">-->
                <!--<h3>{{candidate?.data.firstName}} {{candidate?.data.lastName}}</h3>-->
                <!--<div class="candidate-job">-->
                <!--<mat-icon>work</mat-icon>-->
                <!--{{candidate?.include.job.nameFa}}-->
                <!--</div>-->
                <!--<mat-form-field>-->
                <!--<mat-select (selectionChange)="onChangePipeline(candidate, $event)"-->
                <!--[(value)]="'' + candidate?.include.pipeline.id">-->
                <!--<mat-option *ngFor="let pipeline of companyPipeline" value="{{pipeline.data.id}}">-->
                <!--{{pipeline.data.title}}-->
                <!--</mat-option>-->
                <!--</mat-select>-->
                <!--</mat-form-field>-->
                <!--</div>-->
              </div>
            </div>

            <div class="col-sm-7">
              <nav mat-tab-nav-bar>
                <a mat-tab-link (click)="activeTab.current = 'info'" [active]="activeTab.current == 'info'">اطلاعات</a>
                <a mat-tab-link (click)="activeTab.current = 'hireTeam'" [active]="activeTab.current == 'hireTeam'">تیم
                  استخدام</a>
                <a mat-tab-link (click)="activeTab.current = 'candidate'" [active]="activeTab.current == 'candidate'">کارجویان</a>
              </nav>
            </div>

            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-tab">


    <div class="row">

      <div class="col-sm-8">

        <div *ngIf="activeTab.current == 'info'" class="tab">
          <mat-card>
            <h3>خلاصه اطلاعات</h3>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <!--<mat-icon>work</mat-icon>-->
                  عنوان
                </mat-list-item>
                <mat-list-item>
                  <!--<mat-icon>place</mat-icon>-->
                  توضیحات
                </mat-list-item>
                <mat-list-item>
                  <!--<mat-icon>home</mat-icon>-->
                  نوع
                </mat-list-item>
                <mat-list-item>
                  <!--<mat-icon>build</mat-icon>-->
                  مکان
                </mat-list-item>
                <mat-list-item>
                  <!--<mat-icon>build</mat-icon>-->
                  دپارتمان
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <!--<div class="contact">-->
            <!--<h3>اطلاعات تماس</h3>-->
            <!--<mat-list>-->
            <!--<mat-list-item>-->
            <!--<mat-icon>email</mat-icon>-->
            <!--{{candidate?.data.email}}-->
            <!--</mat-list-item>-->
            <!--<mat-list-item>-->
            <!--<mat-icon>phone</mat-icon>-->
            <!--{{candidate?.data.cellphone | persianNumber}}-->
            <!--</mat-list-item>-->
            <!--<mat-list-item>-->
            <!--<mat-icon>link</mat-icon>-->
            <!--اضافه کردن وب‌سایت-->
            <!--</mat-list-item>-->
            <!--<mat-list-item *ngIf="!candidate?.include.file">-->
            <!--<mat-icon>description</mat-icon>-->
            <!--اضافه کردن رزومه-->
            <!--</mat-list-item>-->
            <!--</mat-list>-->
            <!--</div>-->
          </div>
          <div class="col-sm-12 private-col">
            <!--<div class="private-note">-->
            <!--<h3>یاداشت مخفی</h3>-->
            <!--<p>می‌توانید یاداشتی مخفی از کاندیدا در این قسمت اضافه کنید</p>-->
            <!--</div>-->
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
