<div [formGroup]="form" class="fx-row-wrap fx-start-center">
  <mat-form-field>
    <input matInput type="text" name="nameFa" formControlName="nameFa" placeholder="عنوان">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="department" formControlName="department" placeholder="دپارتمان">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="مکان" formControlName="location">
      <mat-option *ngFor="let province of provinceNames" [value]="province">
        {{province}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="زبان" formControlName="language">
      <mat-option *ngFor="let languageType of LanguageTypes" [value]="languageType">
        {{languageType | languageType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="نوع" formControlName="type">
      <mat-option *ngFor="let jobType of JobTypes" [value]="jobType">
        {{jobType | jobType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="وضعیت" formControlName="status">
      <mat-option *ngFor="let jobStatus of JobStatuses" [value]="jobStatus">
        {{jobStatus | jobStatus}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="form.value.createdDate">
    <span class="mat-small">تاریخ ایجاد: </span>
    <span class="mat-body-2">{{form.value.createdDate | jalali}}</span>
  </div>
</div>
