<div [formGroup]="form" class="fx-row-wrap fx-start-center">
  <div *ngIf="form.get('status')">
    <span class="mat-small">وضعیت: </span>
    <span class="mat-body-2">{{form.get('status').value | jobStatus}}</span>
  </div>

  <div *ngIf="form.get('createdDate')">
    <span class="mat-small">تاریخ ایجاد: </span>
    <span class="mat-body-2">{{form.get('createdDate').value | jalali}}</span>
  </div>

  <mat-form-field>
    <input matInput type="text" name="nameFa" formControlName="nameFa" placeholder="عنوان" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="department" formControlName="department" placeholder="دپارتمان" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="مکان" formControlName="location" required>
      <mat-option *ngFor="let province of provinceNames" [value]="province">
        {{province}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="زبان" formControlName="language" required>
      <mat-option *ngFor="let languageType of LanguageTypes" [value]="languageType">
        {{languageType | languageType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="نوع" formControlName="type" required>
      <mat-option *ngFor="let jobType of JobTypes" [value]="jobType">
        {{jobType | jobType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
