<h2 mat-dialog-title><mat-icon>email</mat-icon> ارسال پست الکترونیکی</h2>
<mat-dialog-content>

  <div class="row">
    <div class="col-sm-12">

      <div class="candidate-email-container">

        <div class="send-email-candidate-form">
          <form [formGroup]="candidateEmailFormGroup" #candidateEmailForm="ngForm" id="ngForm" (ngSubmit)="sendMessage()">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field>
                  <input  matInput type="text" placeholder="عنوان" formControlName="subject">
                  <mat-error *ngIf="candidateEmailFormGroup.get('subject')?.errors?.required">عنوان اجباری است</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput formControlName="message" placeholder="پیام خود را اینجا بنویسید"></textarea>
                  <mat-error *ngIf="candidateEmailFormGroup.get('message')?.errors?.required">پیام اجباری است</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button cdkFocusInitial color="primary" form="ngForm">
    ارسال
    <mat-icon class="mat-icon-rtl-mirror">send</mat-icon>
  </button>
</mat-dialog-actions>
