<div class="candidate-page">

  <div class="container-fluid header-container no-gutter">
    <div class="row no-gutter">
      <div class="col-sm-12">
        <div class="candidate-header">
          <div class="row no-gutter">

            <div class="col-sm-3">
              <div class="candidate-info">
                <button mat-icon-button routerLink="/candidate" matTooltip="بازگشت" matTooltipPosition="left">
                  <mat-icon aria-label="بازگشت">arrow_forward</mat-icon>
                </button>
                <div class="candidate-text">
                  <h3>{{candidate?.data.firstName}} {{candidate?.data.lastName}}</h3>
                  <div class="candidate-job"><mat-icon>work</mat-icon> {{candidate?.include.job.nameFa}}</div>
                  <mat-form-field>
                    <mat-select (selectionChange)="onChangePipeline(candidate, $event)" [(value)]="'' + candidate?.include.pipeline.id">
                      <mat-option *ngFor="let pipeline of companyPipeline" value="{{pipeline.data.id}}">{{pipeline.data.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-sm-7">
              <nav mat-tab-nav-bar>
                <a mat-tab-link (click)="activeTab.current = 'background'" [active]="activeTab.current == 'background'">پیشینه</a>
                <a mat-tab-link (click)="activeTab.current = 'activity'" [active]="activeTab.current == 'activity'">فعالیت‌ها</a>
                <a mat-tab-link (click)="activeTab.current = 'comments'" [active]="activeTab.current == 'comments'">نظرات</a>
                <a mat-tab-link (click)="activeTab.current = 'schedule'" [active]="activeTab.current == 'schedule'">جدول زمانی</a>
                <a mat-tab-link (click)="activeTab.current = 'feedback'" [active]="activeTab.current == 'feedback'">بازخورد</a>
                <a mat-tab-link (click)="activeTab.current = 'documents'" [active]="activeTab.current == 'documents'">مستندات</a>
              </nav>
            </div>

            <div class="col-sm-2">
              <div class="candidate-page-action">
                <button (click)="openEmailDialog()" mat-icon-button matTooltip="ارسال پست الکترونیکی" matTooltipPosition="right">
                  <mat-icon aria-label="ارسال پست الکترونیکی">email</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-tab">


    <div class="row">

      <div class="col-sm-8">

        <div *ngIf="activeTab.current == 'background'" class="tab">
          <mat-card>
            <h3>خلاصه اطلاعات</h3>
            <mat-card-content>
              <mat-list>
                <mat-list-item><mat-icon>work</mat-icon> موقعیت شغلی جاری</mat-list-item>
                <mat-list-item><mat-icon>place</mat-icon> آدرس محل کار جاری</mat-list-item>
                <mat-list-item><mat-icon>home</mat-icon> آدرس محل زندگی</mat-list-item>
                <mat-list-item><mat-icon>build</mat-icon> Java, Linux, Docker, Typescript</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="activeTab.current == 'activity'" class="tab activity-tab">

          <div *ngIf="candidateMessage?.totalElements == 0" class="no-content">
            <p>در حال حاضر فعالیتی از کاندیدا وجود ندارد</p>
          </div>

          <mat-card *ngFor="let message of candidateMessage?.content">
            <div class="title">
              <h4>
                <ngx-avatar name="{{message.include.from.firstName}}"
                            gravatarId="{{message.include.from.email}}">
                </ngx-avatar>
                <span class="info">
                  <span>{{message.include.from.firstName}} {{message.include.from.lastName}}</span>
                  <small>{{message.data.createdDate | jalali}}</small>
                </span>
              </h4>
            </div>
            <mat-card-content>
              <h3>{{message.data.subject}}</h3>
             <p>
               {{message.data.message}}
             </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="activeTab.current == 'comments'" class="comments">
          <mat-card>
            <div class="comment-form">
              <ngx-avatar name="{{identityUser?.firstName}}"
                          gravatarId="{{identityUser?.email}}">
              </ngx-avatar>

              <mat-form-field class="comment-input">
                <input [(ngModel)]="commentText" matInput placeholder="نظر" autocomplete="off">
              </mat-form-field>
            </div>

            <div class="comments-action">
              <button (click)="sendComment()" mat-button color="primary">ارسال</button>
            </div>
          </mat-card>

          <mat-card class="comments-item" *ngFor="let comments of commentList?.content" >
            <div class="display-comment">
              <ngx-avatar name="{{comments.include.owner.firstName}}"
                          gravatarId="{{comments.include.owner.email}}">
              </ngx-avatar>
              <h3>{{comments.include.owner.firstName}} {{comments.include.owner.lastName}}</h3>
            </div>
            <div class="comment-text">
              <p>{{comments.data.commentText}}</p>
            </div>
          </mat-card>

        </div>

        <div *ngIf="activeTab.current == 'schedule'" class="schedule">

          <div class="no-interviews">
            <p>محصاحبه تنظیم نشده است</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact">
              <h3>اطلاعات تماس</h3>
              <mat-list>
                <mat-list-item><mat-icon>email</mat-icon> {{candidate?.data.email}}</mat-list-item>
                <mat-list-item><mat-icon>phone</mat-icon> {{candidate?.data.cellphone | persianNumber}}</mat-list-item>
                <mat-list-item><mat-icon>link</mat-icon> اضافه کردن وب‌سایت</mat-list-item>
                <mat-list-item *ngIf="!candidate?.include.file"><mat-icon>description</mat-icon>  اضافه کردن رزومه</mat-list-item>
              </mat-list>
            </div>
          </div>
          <div class="col-sm-12 private-col">
            <div class="private-note">
              <h3>یاداشت مخفی</h3>
              <p>می‌توانید یاداشتی مخفی از کاندیدا در این قسمت اضافه کنید</p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
