.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}

.candidate-header{
  height: 177px;
  background: url(/assets/images/header-top-updates.png) no-repeat center;
  background-size:cover;

  .mat-tab-links{
    align-items: center;
    justify-content: center;
  }

  .mat-tab-nav-bar{
    margin: 129px 0 0;
    border: none;

    .mat-tab-link{
      min-width: 100px;
      opacity: 1;
    }
    .mat-tab-link:hover{
      color: #fff;
    }

  }

}

.default-theme .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  height: 3px;
  background-color: #2685C9;
}

.default-theme .candidate-page .mat-tab-link {
  color: #94a3f3;
}
.default-theme .candidate-page .mat-tab-label-active{
  color: #fff;
}


.header-container{
  margin-bottom: 20px;
}
.candidate-info{
  color: #fff;
  .candidate-text{
    margin:0 30px 0 0;
  }
  .mat-icon-button{
    margin: 0 16px 0 0;
  }
  h3{
    font-size: 23px;
  }
  .candidate-job{
    color: #e6e6e6;
    .mat-icon{
      color: #fff;
      vertical-align: middle;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
  .mat-select{
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    .mat-select-value-text span{
      color: #222222;
    }
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline{
    background: none;
  }
}

.candidate-page-action{
  display:flex;
  flex-direction:row-reverse;
  button{
    flex-grow:0;
    .mat-icon{
      color: #fff;
    }
  }
}

body .default-theme .mat-list .mat-list-item,
body .default-theme .mat-nav-list .mat-list-item,
body .default-theme .mat-selection-list .mat-list-item{
  color: #848382;
}
.content-tab{
  font-size: 14px;
  color: #848382;
  h3{
    color: #5c5a58;
  }
  .mat-icon{
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
    vertical-align: middle;
  }
  .mat-list-item-content{
    font-size: 14px;
  }
  .private-col{
    margin-top: 40px;
  }

}
