<div *appLoading="isLoading">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <div *ngIf="feedbacks.length === 0" class="text-center vertical-gap-10">
      <img src="/assets/images/no_results.png" class="no-results-image" />
      <p>در حال حاضر هیچ بازخوردی ثبت نشده</p>
      <button mat-raised-button type="button" color="accent" (click)="newFeedback()">ثبت بازخورد</button>
    </div>

    <div *ngIf="feedbacks.length > 0" class="vertical-gap-20">
      <button *ngIf="!isUserAlreadySubmittedFeedback" mat-raised-button type="button" color="accent" (click)="newFeedback()">ثبت بازخورد</button>

      <mat-card>
        <h3>تعداد آرا</h3>
        <div *ngFor="let gp of feedbackGroups" class="fx-row fx-gap-10">
          <div>{{ FeedbackRating[gp.rating] }}:</div>
          <div>{{gp.n}} رای</div>
        </div>
      </mat-card>

      <mat-card *ngFor="let feedback of feedbacks" class="vertical-gap-10">
        <div class="fx-row fx-start-center fx-gap-10">
          <ngx-avatar [name]="feedback.include.owner.firstName" [gravatarId]="feedback.include.owner.email">
          </ngx-avatar>
          <div>
            <div class="mat-body-2">{{feedback.include.owner | fullName}}</div>
            <!-- <div class="mat-small date">{{feedback.data.createdDate | jalali: 'short-datetime'}}</div> -->
          </div>
        </div>

        <div>
          <h4>امتیاز: {{ FeedbackRating[feedback.data.rating] }}</h4>
          <p *ngIf="feedback.data.feedbackText">توضیح: {{feedback.data.feedbackText}}</p>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
