<div *appLoading="isLoading">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <button mat-raised-button color="primary" (click)="newFeedback()">ثبت بازخورد</button>

    <div class="vertical-gap-10">
      <mat-card>
        <h3>تعداد آرا</h3>
        <div *ngFor="let gp of feedbackGroups" class="fx-row fx-gap-10">
          <div>{{ FeedbackRating[gp.rating] }}:</div>
          <div>{{gp.n}} رای</div>
        </div>
      </mat-card>
      <mat-card class="comments-item" *ngFor="let feedback of feedbacks">
        <div class="display-comment">
          <ngx-avatar name="{{feedback.include.owner.firstName}}" gravatarId="{{feedback.include.owner.email}}">
          </ngx-avatar>
          <h3>{{feedback.include.owner.firstName}} {{feedback.include.owner.lastName}}</h3>
        </div>
        <div class="comment-text">
          <p>امتیاز: {{ FeedbackRating[feedback.data.rating] }}</p>
          <p>توضیح: {{feedback.data.feedbackText}}</p>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
