<div *appLoading="isLoading">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <form [formGroup]="form" class="margin-30 vertical-gap-30">
    <mat-card class="vertical-gap-20">
      <mat-card-title>
        جزئیات شغل
      </mat-card-title>

      <mat-card-content>
        <anms-job-info-form [form]="form"></anms-job-info-form>
      </mat-card-content>
    </mat-card>

    <mat-card class="vertical-gap-20">
      <mat-card-title>
        شرح موقعیت شغلی
      </mat-card-title>

      <mat-card-content>
        <anms-job-description-form [form]="form"></anms-job-description-form>
      </mat-card-content>
    </mat-card>

    <div class="text-center">
      <button mat-raised-button type="button" color="accent" (click)="save()">
        ذخیره تغییرات
      </button>
    </div>
  </form>
</div>
