<form [formGroup]="form">
  <h2 mat-dialog-title>تنظیم مصاحبه</h2>

  <mat-dialog-content>
    <div class="fx-row fx-start-center fx-gap-20">
      <mat-form-field class="fx-auto date-picker">
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" placeholder="تاریخ" [(ngModel)]="selectedDate"
          [ngModelOptions]="{standalone: true}" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fx-auto">
        <mat-select [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}" placeholder="ساعت شروع" required>
          <mat-option *ngFor="let time of timesteps" [value]="time">
            {{time | jalali: 'HH:mm'}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="fx-auto">
        <mat-select [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}" placeholder="ساعت پایان" required>
          <mat-option *ngFor="let time of timesteps" [value]="time">
            {{time | jalali: 'HH:mm'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="location" placeholder="محل" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput type="text" formControlName="description" placeholder="توضیحات" required></textarea>
    </mat-form-field>

    <anms-company-member-select label="اعضای حاضر در جلسه" (selectedMembersChange)="onSelectedMembersChange($event)">
    </anms-company-member-select>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>لغو</button>
    <button mat-button type="submit" color="primary" (click)="submit()" [disabled]="form.invalid">
      <span *appLoading="isLoading; button:true;">ثبت</span>
    </button>
  </mat-dialog-actions>
</form>
