<mat-grid-list class="register-form" cols="1" rowHeight="380">
  <mat-grid-tile rowspan="2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ثبت نام</mat-card-title>
        <mat-card-subtitle>لطفا فرم زیر را با دقت پر کنید</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="register-container">
          <form>
            <mat-form-field>
              <input class="ltr" matInput placeholder="نام" [formControl]="firstname" name="firstname" autocomplete="off" required>
              <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input class="ltr" matInput placeholder="نام خانوادگی" [formControl]="lastname" name="lastname" autocomplete="off" required>
              <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input class="ltr" matInput placeholder="پست الکترونیکی" [formControl]="email" name="email" autocomplete="off" required>
              <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input class="ltr" matInput placeholder="کلمه عبور" [formControl]="password" name="password" autocomplete="off" required>
              <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input class="ltr" matInput placeholder="تکرار کلمه عبور" [formControl]="password" name="password" autocomplete="off" required>
              <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-checkbox>قوانین را قبول دارم</mat-checkbox>
          </form>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">ثبت نام</button>
        <button class="register-button" mat-button [routerLink]="['/login']">بازگشت</button>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


