<div class="fx-fill fx-column">
  <div *ngIf="model" class="fx-initial header-background vertical-gap-5">
    <div class="info">
      <div>
        <button mat-icon-button routerLink="/job" matTooltip="بازگشت" matTooltipPosition="left">
          <mat-icon aria-label="بازگشت">arrow_forward</mat-icon>
        </button>
      </div>
      <h2 *ngIf="model.data.nameFa">
        {{model.data.nameFa}}
      </h2>
      <div *ngIf="model.data.location">
        {{model.data.location}}
      </div>
      <div *ngIf="model.data.status">
        {{model.data.status | jobStatus}}
      </div>
    </div>

    <nav mat-tab-nav-bar class="header-tabs" color="accent">
      <a mat-tab-link routerLink="./info" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        اطلاعات
      </a>
      <a mat-tab-link routerLink="./candidates" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
        کارجویان
      </a>
      <a mat-tab-link routerLink="./hiring-team" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
        تیم استخدام
      </a>
    </nav>
  </div>

  <div class="fx-grow">
    <router-outlet></router-outlet>
  </div>
</div>
