<div *appLoading="isLoading">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <mat-card>
      <div class="comment-form">
        <ngx-avatar name="{{identityUser?.firstName}}" gravatarId="{{identityUser?.email}}">
        </ngx-avatar>

        <mat-form-field class="comment-input">
          <input [(ngModel)]="newCommentText" matInput placeholder="نظر" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="comments-action">
        <button (click)="submitComment()" mat-button color="primary">ارسال</button>
      </div>
    </mat-card>

    <mat-card class="comments-item" *ngFor="let comment of comments">
      <div class="display-comment">
        <ngx-avatar name="{{comment.include.owner.firstName}}" gravatarId="{{comment.include.owner.email}}">
        </ngx-avatar>
        <h3>{{comment.include.owner.firstName}} {{comment.include.owner.lastName}}</h3>
      </div>
      <div class="comment-text">
        <p>{{comment.data.commentText}}</p>
      </div>
    </mat-card>
  </ng-container>
</div>
