<div *appLoading="isLoading">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <div *ngIf="schedules.length === 0" class="text-center vertical-gap-10">
      <img src="/assets/images/no_interviews.jpg" />
      <p>مصاحبه تنظیم نشده است</p>
      <button mat-raised-button type="button" color="accent" (click)="newSchedule()">تنظیم مصاحبه</button>
    </div>

    <div *ngIf="schedules.length > 0" class="vertical-gap-20">
      <div class="fx-row fx-spacebetween-center">
        <h3>لیست مصاحبه‌ها</h3>
        <button mat-raised-button type="button" color="accent" (click)="newSchedule()">تنظیم مصاحبه</button>
      </div>

      <mat-card *ngFor="let schedule of schedules">
        <mat-card-title>
          {{schedule.data.startDate | jalali: 'dddd، D MMMM YYYY'}}
        </mat-card-title>

        <mat-card-subtitle>
          <span>از ساعت&nbsp;</span>
          <span>{{schedule.data.startDate | jalali: 'H:m'}}</span>
          <span>&nbsp;تا&nbsp;</span>
          <span>{{schedule.data.endDate | jalali: 'H:m'}}</span>
        </mat-card-subtitle>

        <mat-card-content class="vertical-gap-20">
          <div class="vertical-gap-5">
            <div>
              <span class="mat-body-1">وضعیت:&nbsp;</span>
              <span class="mat-body-2">{{schedule.data.status | scheduleStatus}}</span>
            </div>
            <div>
              <span class="mat-body-1">مکان:&nbsp;</span>
              <span class="mat-body-2">{{schedule.data.location}}</span>
            </div>
            <div>
              <span class="mat-body-1">توضیحات:&nbsp;</span>
              <span class="mat-body-2">{{schedule.data.description}}</span>
            </div>
          </div>

          <div class="vertical-gap-5">
            <h4>اعضای حاضر در جلسه</h4>
            <div *ngFor="let member of schedule.data.member; let i = index" class="fx-row fx-start-center fx-gap-10">
              <ngx-avatar [name]="schedule.include.memberUsers[i].firstName"
                [gravatarId]="schedule.include.memberUsers[i].email">
              </ngx-avatar>
              <div>
                <div class="mat-body-2">{{schedule.include.memberUsers[i] | fullName}}</div>
                <div class="mat-small">{{member.status | candidateScheduleMemberStatus}}</div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
