<div *appLoading="isLoading">
  <anms-error-message *ngIf="isErrorOccured" [message]="error" (retry)="fetch()"></anms-error-message>

  <ng-container *ngIf="!isErrorOccured">
    <div *ngIf="schedules.length === 0" class="text-center vertical-gap-10">
      <img src="/assets/images/no_interviews.jpg" />
      <p>مصاحبه تنظیم نشده است</p>
      <button mat-raised-button type="button" color="accent" (click)="newSchedule()">تنظیم مصاحبه</button>
    </div>

    <mat-card *ngIf="schedules.length > 0">
      <h3>لیست مصاحبه‌ها</h3>
      <mat-card-content>
        <div *ngFor="let schedule of schedules" class="candidate-schedule-list">
          <h4>تاریخ مصاحبه {{schedule.data.startDate | jalali}}</h4>
          <mat-divider></mat-divider>
          <mat-list>
            <div class="row">
              <div class="col-sm-3">
                10am
              </div>
              <div class="col-sm-3">member</div>
              <div class="col-sm-3">place</div>
              <div class="col-sm-3">dev</div>
            </div>
          </mat-list>
        </div>

      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
