.verification-container form {
  display: flex;
  flex-direction: column;
}

.verification-container > * {
  width: 100%;
}

.verification-form button{
  width: 100%;
}

.verification-container form {
  margin-bottom: 20px;
}

.verification-container form > * {
  margin: 10px 0;
}

.verification-container .mat-radio-button {
  margin: 0 5px;
}

mat-card-header{
  display:flex;
  justify-content:center;
}


mat-card-header{
  mat-card-title{
    font-size: 18px;
    text-align: center;
  }
}

.verification-form {
  mat-card-actions{
    text-align: center;
    font-size: 13px;
    padding: 0;
    div{
      margin: 10px 0;
    }
  }
}

.mat-button.register-button{
  margin: 10px 0;
}
.agreement-error{
  color: #d81b60;
  margin: 0;
}
