<mat-dialog-content>

  <div class="row">
    <div class="col-sm-12">
      <div class="stepper-wrapper">

        <h2 mat-dialog-title class="text-center">
          افزودن شغل
        </h2>

        <div class="col-sm-12">

          <mat-horizontal-stepper linear #stepper>

            <mat-step [stepControl]="BasicsJobCreateFormGroup">

              <ng-template matStepLabel>اطلاعات اولیه</ng-template>

              <form [formGroup]="BasicsJobCreateFormGroup">

                <div class="job-form-container">
                  <div class="create-job-form">
                    <div class="row justify-content-md-center">

                      <div class="col-sm-6">
                        <mat-form-field>
                          <input matInput type="text" placeholder="عنوان" formControlName="nameFa" autocomplete="off">
                          <mat-error *ngIf="BasicsJobCreateFormGroup.get('nameFa')?.errors?.required">عنوان اجباری است</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder="نوع" formControlName="type">
                            <mat-option value="">انتخاب کنید</mat-option>
                            <mat-option *ngFor="let state of jobType" value="{{state.key}}">{{state.value}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="BasicsJobCreateFormGroup.get('type')?.errors?.required">نوع اجباری است</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field>
                          <input matInput type="text" placeholder="دپارتمان" formControlName="department" autocomplete="off">
                          <mat-error *ngIf="BasicsJobCreateFormGroup.get('department')?.errors?.required">دپارتمان
                            اجباری است
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder="مکان" formControlName="location">
                            <mat-option value="">انتخاب کنید</mat-option>
                            <mat-option *ngFor="let location of jobLocation" value="{{location.name}}">{{location.name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="BasicsJobCreateFormGroup.get('location')?.errors?.required">مکان اجباری است</mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="text-center button-wrapper">
                  <button type="button" mat-raised-button matStepperNext color="primary">بعدی</button>
                </div>
              </form>

            </mat-step>

            <mat-step [stepControl]="DescJobCreateFormGroup" [editable]="enableForward">

              <ng-template matStepLabel>توضیحات</ng-template>
              <form [formGroup]="DescJobCreateFormGroup">

                <div class="job-form-container">
                  <div class="create-job-form">
                    <div class="row">

                      <div class="col-sm-12">
                        <mat-form-field>
                          <textarea matInput rows="6" placeholder="توضیحات" formControlName="descriptionFa" required></textarea>
                          <mat-error *ngIf="DescJobCreateFormGroup.get('descriptionFa')?.errors?.required">توضیحات
                            اجباری است
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="text-center button-wrapper">
                  <button type="button" mat-raised-button matStepperPrevious>قبلی</button>
                  <button type="button" mat-raised-button color="primary" (click)="BasicInfos(stepper)">بعدی</button>
                </div>

              </form>

            </mat-step>


            <mat-step [stepControl]="HiringTeamFormGroup">

              <ng-template matStepLabel>تیم استخدام</ng-template>

            </mat-step>
          </mat-horizontal-stepper>

        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
